* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #242424;
}

.head {
    background-color: #6b1368;
    list-style: none;
    display: flex;
    justify-content: space-between;
    height: 18vh;
    align-items: center;
}

.car {
    display: flex;
    flex-direction: column;
}

.car img {
    display: flex;
    align-self: center;
    height: 40px;
}

.seti img {
    height: 40px;
    padding-left: 10px;
    cursor: pointer;
}

#carr {
    font-size: 40px;
    font-family: 'Kumar One', sans-serif;
    color: white;
}

.life a {
    font-size: 35px;
    font-family: 'Kumar One', sans-serif;
    color: rgb(190, 78, 190);
    padding-right: 10px;
    text-decoration: none;
}

.img-caixa {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 20px;
    padding-top: 5vh;
    font-family: Helvetica;
}

.img-caixa img {
    height: 100px;
    width: 100px;
}

.txt {
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
    font-family: helvetica;
    padding-top: 8vh;
}

.imagens {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 15vh;
    padding-top: 4vh;
}

.img {
    border: 1px solid red;
    min-width: 26vh;
    min-height: 32vh;
}

.set {
    display: flex;
    align-self: center;
    background-color: #8f2c8c;
    border-radius: 50%;
    cursor: pointer;
}

.set img {
    height: 50px;
    padding: 5px;
}

.in {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-family: helvetica;
    color: white;
}

/* Estilos responsivos */

@media screen and (max-width: 768px) {
    .head {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: auto;
    }

    .car {
        margin-top: 1rem;
    }

    .car img {
        height: 30px;
    }

    .seti img {
        height: 30px;
    }

    #carr {
        font-size: 30px;
    }

    .life a {
        font-size: 25px;
    }

    .img-caixa {
        font-size: 18px;
        padding-top: 3vh;
    }

    .txt {
        font-size: 25px;
        padding-top: 5vh;
    }

    .imagens {
        flex-wrap: wrap;
        gap: 5vh;
        padding-top: 2vh;
    }

    .img {
        min-width: 40vh;
        min-height: 50vh;
    }

    .set {
        margin-top: 1rem;
    }

    .set img {
        height: 40px;
        padding: 3px;
    }

    .in {
        font-size: 18px;
    }
}


