* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 
 
 
 
 body {
    background-color: #d50f0f;
 }
 
 
 
 
 .head {
    background-color: #6b1368;
    list-style: none;
    display: flex;
    justify-content: space-between;
    height: 18vh;
    align-items: center;
 }
 
 
 
 
 .car {
    display: flex;
    flex-direction: column;
 }
 
 
 
 
 .car img {
    display: flex;
    align-self: center;
    height: 40px;
 }
 
 
 
 
 .seti img {
    height: 40px;
    padding-left: 10px;
    cursor: pointer;
 }
 
 
 
 
 #carr {
    font-size: 40px;
    font-family: 'Kumar One', sans-serif;
    color: white;
 }
 
 
 
 
 .life a {
    font-size: 35px;
    font-family: 'Kumar One', sans-serif;
    color: rgb(190, 78, 190);
    padding-right: 10px;
    text-decoration: none;
 }
 
 
 
 
 .img-caixa {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 20px;
    padding-top: 5vh;
    font-family: Helvetica;
 }
 
 
 
 
 .img-caixa img {
    height: 100px;
    width: 100px;
 }
 
 
 
 
 .txt {
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
    font-family: helvetica;
 }
 
 
 .all12 {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding-left: 20px;
 }
 
 
 .img {
    border: 1px solid rgb(255, 0, 0);
    max-width: 26vh;
    max-height: 32vh;
 }
 
 
 
 
 .img img {
    max-width: 26vh;
    max-height: 32vh;
    min-width: 26vh;
    min-height: 32vh;
 }
 
 
 
 
 .image {
    display: flex;
 }
 
 
 
 
 .in {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    font-family: helvetica;
    color: white;
    gap: 5px;
 }
 
 
 
 
 .in span {
    width: 26vh;
 }
 