*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    background-color: #0E111F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .gif {
    margin-bottom: 20px;
  }

  .informe{
    color: aliceblue;
    position: absolute;
    left: 31%;
  }

  @keyframes jump {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.informe h1 span {
    animation: jump 1s infinite;
    display: inline-block;
}

.informe h1 span:nth-child(2) {
    animation-delay: 0.2s;
}

.informe h1 span:nth-child(3) {
    animation-delay: 0.4s;
}