* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 
 
 body {
    background-color: #242424;
 }
 .cont {
    height: 120px;
    background-color: #650765;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 
 
 .set_voltar img {
    height: 40px;
    padding-left: 10px;
 }
 
 
 .logo a{
    text-decoration: none;
    font-family: 'Kumar One', sans-serif;
    color: #bf3bbf;
    font-size: 25pt;
 }
 
 
 .container {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    gap: 30px;
 }
 
 
 .foto_prod {
    max-width: 450px;
    max-height: 550px;
    min-height: 550px;
    min-width: 450px;
    border: 1px solid red;
    background-size: cover;
 }
 
 
 .foto_prod img {
    height: 100%;
    width: 100%;
 }
 
 
 .dados_prod {
    font-family: 'Kumar One', sans-serif;
    font-size: 20pt;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 24px;
 }
 
 
 .select {
    width: 180px;
    background-color: #650765;
    border-radius: 5px;
    outline: none;
    color: white;
    border: #650765;
    padding-left: 70px;
    cursor: pointer;
 }
 
 
 .button input{
    width: 280px;
    height: 100px;
    font-size: 15pt;
    background-color: #bf3bbf;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Kumar One', sans-serif;
 }
 
 
 .fav input{
    width: 280px;
    height: 100px;
    font-size: 14pt;
    background-color: #bf3bbf;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Kumar One', sans-serif;
 }
 
 