* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #242424;
}

.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
}

.container {
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 500px;
    background-color: #551753;
    color: white;
}

.container span {
    font-family: helvetica;
    font-weight: bold;
}

.voltar {
    width: 100%;
    padding-left: 10px;
    padding-top: 10px;
}

.voltar img {
    height: 35px;
}

.form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
    font-family: helvetica;
    font-size: 13px;
}

.dados{
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    font-size: 11px;
    font-family: helvetica;
    font-weight: bold;
}

.dados input {
    margin-bottom: 13px;
    padding: 2px;
    outline: 0;
    border-radius: 5px;
    height: 35px;
}

.dado{
    display: flex;
    flex-direction: column;
    font-size: 11px;
}

.dado input{
    margin-bottom: 27px;
    padding: 2px;
    outline: 0;
    border-radius: 5px;
    height: 35px;
}

.but {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.but button {
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-family: helvetica;
    font-weight: bold;
}




/* java script css */
#picture__input {
    display: none;
}

.picture {
    height: 200px;
    width: 178px;
    aspect-ratio: 16/9;
    border-radius: 5px;
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaa;
    border: 2px dashed #aaa;
    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
}

.picture:hover {
    color: #777;
    background: #ccc;
}

.picture__img {
    max-width: 100%;
}